name: Choco Pack Test

on:
  push:

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2019,windows-2016]
    name: test
    steps:
      - uses: actions/checkout@v2
      - name: DotNet Tool Restore
        run: dotnet tool restore
      - name: Choco Pack
        run: Measure-Command { choco pack .\helloworld\helloworld.nuspec | Write-Host }; Remove-Item *.nupkg
      - name: Choco.exe Pack
        run: Measure-Command { choco.exe pack .\helloworld\helloworld.nuspec | Write-Host }; Remove-Item *.nupkg
      - name: Chocolatey.exe Pack
        run: Measure-Command { chocolatey.exe pack .\helloworld\helloworld.nuspec | Write-Host }; Remove-Item *.nupkg
      - name: Cake Pack
        run: dotnet cake
